<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string></string>
	<key>refEntryUri</key>
	<string>R8N0kB</string>
	<key>uri</key>
	<string>2kYYpL</string>
</dict>
</plist>
