<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>656556811193-4bhp60k7ntld3jq4i9aqqo4bc9nouiaq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.656556811193-4bhp60k7ntld3jq4i9aqqo4bc9nouiaq</string>
	<key>API_KEY</key>
	<string>AIzaSyD1vmWdPqKl0zgeJf5pxK2xrML90R9I1tA</string>
	<key>GCM_SENDER_ID</key>
	<string>656556811193</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.faisalmlalani.pluto.XXX</string>
	<key>PROJECT_ID</key>
	<string>pluto-b5a22</string>
	<key>STORAGE_BUCKET</key>
	<string>pluto-b5a22.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:656556811193:ios:a9a56ab4ad464c86</string>
	<key>DATABASE_URL</key>
	<string>https://pluto-b5a22.firebaseio.com</string>
</dict>
</plist>